<button class="btn btn-dark" (click)="getAll()">Get</button>
<div [hidden]="!processing">
  <br>
  <ul>
    <li *ngFor="let message of messages">
       {{message.content}}
    </li>
  </ul>
</div>

<br>
<div id="main-content" class="container">

  <div class="row">
    <div class="col-md-12">
      {{ content }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label >WebSocket connection:</label>
          <button (click)="connect()" class="btn btn-default" type="submit">Connect</button>
          <button (click)="disconnect()" class="btn btn-default" type="submit" disabled="disabled">Disconnect
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label>What is your name?</label>
          <input type="text" [(ngModel)]="userName" class="form-control" name="name"> <br>
        </div>
        <button (click)="sendMessage()" class="btn btn-default" type="submit">Send</button>
      </form>
    </div>

    <p> {{ content }}</p>
  </div>

</div>
