#main {
  border: 0px solid white;
  height: 100%;
  position: relative;
}

#draw, #gameOver {
  position: absolute;
  top: 20%;
  width: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

#firstMove div {
  text-align: center;
}

#firstMove {
  position: absolute;
  top: 20%;
  width: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#score {
  position: absolute;
  top: 10%;
  width: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#score span {
  font-size: 2.0em;
  margin: auto;
}

#username {
  position: absolute;
  top: 10%;
  width: 10%;
  left: 35%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#username span {
   color: #36A4DF;
   font-size: 2.0em;
   margin: 0 auto;
}

#rivalPlayer {
  position: absolute;
  top: 10%;
  width: 10%;
  left: 65%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#rivalPlayer span {
   color: #36A4DF;
   font-size: 2.0em;
   margin: 0 auto;
}

#restart {
  float: right;
  width: 30%;
  padding-top: 10px;
  padding-right: 5px;
}

#restart button {
  float: right;
}

.vertical-align-O {
  vertical-align: -8px;
}

.vertical-align-X {
  vertical-align: -10px;
}

.choice {
  padding-top: 20px;
  padding-left: 5%;
  width: 70%;
  font-size: 1.5em;

}

.btn:focus {
  outline: none;
}

#XOcontainer {
  width: 50%;
  margin-top: 17%;
  margin-bottom: 10px;
}

#XOcontainer .row {
  height: 75px
}

#XOcontainer button {
  background-color: white;
}

#b1 {
  border-left: none;
  border-top: none;
}

#b1:focus {
  outline: none;
}

#b2 {
  border-top: none;
}
#b2:focus {
  outline: none;
}

#b3 {
  border-top: none;
  border-right: none;
}
#b3:focus {
  outline: none;
}

#b4 {
  border-left: none;
}
#b4:focus {
  outline: none;
}

#b5 {

}
#b5:focus {
  outline: none;
}

#b6 {
  border-right: none;
}
#b6:focus {
  outline: none;
}

#b7 {
  border-left: none;
  border-bottom: none;
}
#b7:focus {
  outline: none;
}

#b8 {
  border-bottom: none;
}
#b8:focus {
  outline: none;
}

#b9 {
  border-right: none;
  border-bottom: none;
}
#b9:focus {
  outline: none;
}

.buttonIsX {
  color: green;
  font-size: 1.8em;
}

.buttonIs0 {
  color: red;
}

@media all and (max-width: 800px) {
  #score {
    position: absolute;
    top: 10%;
    width: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #score span {
    font-size: 1.6em;
    margin: auto;
  }

  #username {
    position: absolute;
    top: 10%;
    width: 10%;
    left: 35%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #username span {
     color: #36A4DF;
     font-size: 1.6em;
     margin: 0 auto;
  }

  #rivalPlayer {
    position: absolute;
    top: 10%;
    width: 10%;
    left: 65%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #rivalPlayer span {
     color: #36A4DF;
     font-size:  1.6em;
     margin: 0 auto;
  }

  #XOcontainer {
    width: 80%;
    margin-top: 30%;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 650px) {
  #score {
    position: absolute;
    top: 10%;
    width: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #score span {
    font-size: 1.6em;
    margin: auto;
  }

  #username {
    position: absolute;
    top: 10%;
    width: 10%;
    left: 30%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #username span {
     color: #36A4DF;
     font-size: 1.6em;
     margin: 0 auto;
  }

  #rivalPlayer {
    position: absolute;
    top: 10%;
    width: 10%;
    left: 65%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #rivalPlayer span {
     color: #36A4DF;
     font-size:  1.6em;
     margin: 0 auto;
  }

  #XOcontainer {
    width: 80%;
    margin-top: 30%;
    margin-bottom: 10px;
  }

  .choice {
    padding-top: 20px;
    padding-left: 5%;
    width: 70%;
  }

  #restart {
    float: right;
    width: 30%;
    padding-top: 10px;
    padding-right: 5px;
  }
}
