<div id="main" class="container">
  <div class="row">
    <div class="choice" *ngIf="!_webSocketService.marksArePicked">
      <div class="row">
        <span>Make your choice </span>
        <button (click)="markXClick()" [disabled]="_webSocketService.marksArePicked" class="btn btn-default" type="submit">
          <span class="material-icons buttonIsX">clear</span>
        </button>
        <button (click)="markOClick()" [disabled]="_webSocketService.marksArePicked" class="btn btn-default" type="submit">
          <span class="material-icons buttonIs0">panorama_fish_eye</span>
        </button>
      </div>
    </div>

    <div class="choice" *ngIf="_webSocketService.marksArePicked">
      <div *ngIf="_webSocketService.userChoiceIsX">
        <h6>
          You are playing with
          <span class="material-icons buttonIsX vertical-align-X">clear</span>
        </h6>
      </div>
      <div *ngIf="_webSocketService.userChoiceIs0">
        <h6>
          You are playing with
          <span class="material-icons buttonIs0 vertical-align-O">panorama_fish_eye</span>
        </h6>
      </div>
    </div>

    <div id="restart">
      <button [disabled]="(_webSocketService.isDraw || _webSocketService.isGameOver) ? false : true"
              (click)="restartGame()" class="btn btn-default ml-auto" type="submit">
        <span class="material-icons" >autorenew</span>
      </button>
    </div>

  </div>

  <div class="container" id="score">
    <div class="row">
      <span>{{_webSocketService.playerVictories}} : {{_webSocketService.rivalVictories}}</span>
    </div>
  </div>

  <div class="container" id="username">
    <div class="row">
      <span>{{username}}</span>
    </div>
  </div>

  <div class="container" id="rivalPlayer">
    <div class="row">
      <span>{{rivalPlayer}}</span>
    </div>
  </div>

  <div class="container" id="firstMove" *ngIf="_webSocketService.marksArePicked">
    <div *ngIf="_webSocketService.marksArePicked">
      <h5 *ngIf="!_webSocketService.gameIsStarted">
        First move
        <span class="material-icons buttonIsX vertical-align-X">
          clear
        </span>
      </h5>
    </div>
  </div>

  <div id="gameOver" *ngIf="_webSocketService.isGameOver">
    <h5>Game Over... Winner is
      <span *ngIf="(_webSocketService.victoryButton === 'X') ? true : false " class="material-icons buttonIsX vertical-align-X">
          clear
      </span>
      <span *ngIf="(_webSocketService.victoryButton === '0') ? true : false " class="material-icons buttonIs0 vertical-align-O">
          panorama_fish_eye
      </span>
    </h5>
  </div>

  <div id="draw" *ngIf="_webSocketService.isDraw">
    <h5>Draw</h5>
  </div>

  <div id="XOcontainer" class="container">
    <div class="row">
      <button (click)="button1Click()"
              [disabled]="!_webSocketService.marksArePicked || _webSocketService.isGameOver || _webSocketService.userTurn || !_webSocketService.hasPriorityTurn"
              class="col" id="b1">
        <span class="material-icons buttonIsX" *ngIf="(_webSocketService.button1 === 'X') ? true : false">clear</span>
        <span class="material-icons buttonIs0" *ngIf="(_webSocketService.button1 === '0') ? true : false">panorama_fish_eye</span>
      </button>
      <button (click)="button2Click()"
              [disabled]="!_webSocketService.marksArePicked || _webSocketService.isGameOver || _webSocketService.userTurn || !_webSocketService.hasPriorityTurn"
              class="col" id="b2">
        <span class="material-icons buttonIsX" *ngIf="(_webSocketService.button2 === 'X') ? true : false">clear</span>
        <span class="material-icons buttonIs0" *ngIf="(_webSocketService.button2 === '0') ? true : false">panorama_fish_eye</span>
      </button>
      <button (click)="button3Click()"
              [disabled]="!_webSocketService.marksArePicked || _webSocketService.isGameOver || _webSocketService.userTurn || !_webSocketService.hasPriorityTurn"
              class="col" id="b3">
        <span class="material-icons buttonIsX" *ngIf="(_webSocketService.button3 === 'X') ? true : false">clear</span>
        <span class="material-icons buttonIs0" *ngIf="(_webSocketService.button3 === '0') ? true : false">panorama_fish_eye</span>
      </button>
    </div>
    <div class="row">
      <button (click)="button4Click()"
              [disabled]="!_webSocketService.marksArePicked || _webSocketService.isGameOver || _webSocketService.userTurn || !_webSocketService.hasPriorityTurn"
              class="col" id="b4">
        <span class="material-icons buttonIsX" *ngIf="(_webSocketService.button4 === 'X') ? true : false">clear</span>
        <span class="material-icons buttonIs0" *ngIf="(_webSocketService.button4 === '0') ? true : false">panorama_fish_eye</span>
      </button>
      <button (click)="button5Click()"
              [disabled]="!_webSocketService.marksArePicked || _webSocketService.isGameOver || _webSocketService.userTurn || !_webSocketService.hasPriorityTurn"
              class="col" id="b5">
        <span class="material-icons buttonIsX" *ngIf="(_webSocketService.button5 === 'X') ? true : false">clear</span>
        <span class="material-icons buttonIs0" *ngIf="(_webSocketService.button5 === '0') ? true : false">panorama_fish_eye</span>
      </button>
      <button (click)="button6Click()"
              [disabled]="!_webSocketService.marksArePicked || _webSocketService.isGameOver || _webSocketService.userTurn || !_webSocketService.hasPriorityTurn"
              class="col" id="b6">
        <span class="material-icons buttonIsX" *ngIf="(_webSocketService.button6 === 'X') ? true : false">clear</span>
        <span class="material-icons buttonIs0" *ngIf="(_webSocketService.button6 === '0') ? true : false">panorama_fish_eye</span>
      </button>
    </div>
    <div class="row">
      <button (click)="button7Click()"
              [disabled]="!_webSocketService.marksArePicked || _webSocketService.isGameOver || _webSocketService.userTurn || !_webSocketService.hasPriorityTurn "
              class="col" id="b7">
        <span class="material-icons buttonIsX" *ngIf="(_webSocketService.button7 === 'X') ? true : false">clear</span>
        <span class="material-icons buttonIs0" *ngIf="(_webSocketService.button7 === '0') ? true : false">panorama_fish_eye</span>
      </button>
      <button (click)="button8Click()"
              [disabled]="!_webSocketService.marksArePicked || _webSocketService.isGameOver || _webSocketService.userTurn || !_webSocketService.hasPriorityTurn"
              class="col" id="b8">
        <span class="material-icons buttonIsX" *ngIf="(_webSocketService.button8 === 'X') ? true : false">clear</span>
        <span class="material-icons buttonIs0" *ngIf="(_webSocketService.button8 === '0') ? true : false">panorama_fish_eye</span>
      </button>
      <button (click)="button9Click()"
              [disabled]="!_webSocketService.marksArePicked || _webSocketService.isGameOver || _webSocketService.userTurn || !_webSocketService.hasPriorityTurn"
              class="col" id="b9">
        <span class="material-icons buttonIsX" *ngIf="(_webSocketService.button9 === 'X') ? true : false">clear</span>
        <span class="material-icons buttonIs0" *ngIf="(_webSocketService.button9 === '0') ? true : false">panorama_fish_eye</span>
      </button>
    </div>
  </div>
</div>
