<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://camel.apache.org/schema/spring
        http://camel.apache.org/schema/spring/camel-spring.xsd
        http://www.springframework.org/schema/websocket
        http://www.springframework.org/schema/websocket/spring-websocket-4.0.xsd">

<!--    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <property name="driverClassName" value="${db.driver}"/>-->
<!--        <property name="url" value="${db.url}"/>-->
<!--        <property name="username" value="${db.username}"/>-->
<!--        <property name="password" value="${db.password}"/>-->
<!--    </bean>-->

<!--    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">-->
<!--        <constructor-arg name="dataSource" ref="dataSource"/>-->
<!--    </bean>-->

    <camel:camelContext id="producerCamelContext">
        <camel:route>
            <camel:from uri="direct:start"/>
            <camel:to uri="activemq:queue:webgame_queue" />
        </camel:route>
    </camel:camelContext>

    <camel:camelContext id="consumerCamelContext">
        <camel:route >
            <camel:from uri="activemq:queue:webgame_queue"/>
            <camel:to uri="seda:end" />
        </camel:route>
    </camel:camelContext>

    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="tcp://35.239.53.104:61616"/>
                <property name="password" value="admin" />
                <property name="userName" value="admin" />
            </bean>
        </property>
    </bean>


</beans>