#navbar {
    background-color: white;
    border-bottom: 1px solid #EBEBEB;
    font-weight:bold;
}

#navbar .navbar-brand {
    font-size: 20px;
    color: #36A4DF;
}

#navbar #button_login,
 #navbar #button_login1 {
    background-color: white;
    border:0;
    outline: none;
}

#navbar .material-icons {
    font-size: 1.5em;
    color: #838383;
    padding-top:10px;
}

#navbar .material-icons:hover {
    color: #36A4DF;
}
